body {
  background-color: #fafafa;
}

/* topo da página */
.containerTopo {
  background-color: #ec362d;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 37px;
  font-weight: bold;
  height: 69px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* criar quizz */

.criarQuizz {
  border: 1px #d4d4d4 dashed;
  border-radius: 5px;
  margin: 77px auto;
  width: 80%;
  height: 181px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.criarQuizz p {
  font-family: "Roboto", sans-serif;
}

.criarQuizz p:first-child {
  color: #b9b9b9;
  font-size: 20px;
  width: 250px;
  text-align: center;
}

.criarQuizz input {
  background-color: #fafafa;
  border: 1px #ec362d dashed;
  border-radius: 50px;
  color: #ec362d;
  font-size: 21px;
  height: 40px;
  width: 151px;
}

.criarQuizz input:focus {
  outline-style: none;
}

/* quizz adicionados */
.quizzesAdicionados {
  width: 80%;
  margin: 48px auto;
}

.quizzesAdicionados > span {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #000;
  margin-bottom: 16px;
}

.quizzesAdicionados span ion-icon {
  font-size: 32px;
  color: #ec362d;
  margin-left: 17px;
}

/* lista de quizzes */

.todosQuizzes h1 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.todosQuizzes {
  width: 80%;
  margin: auto;
}

.triosDeQuizzes {
  display: flex;
  align-items: center;
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.quizz {
  width: 340px;
  height: 181px;
  position: relative;
  margin-bottom: 12px;
}

.quizz img {
  width: 340px;
  height: 181px;
  border-radius: 5px;
}

.descricaoDoQuizz {
  width: 300px;
  position: absolute;
  z-index: 2;
  bottom: 10px;
  left: 18px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 19px;
}

/* Quizz Escolhido*/

.escondido {
  display: none;
}

.quizzEscolhido {
  width: 100%;
  background: #e5e5e5;
}

.quizzEscolhido img {
  width: 100%;
  height: 277px;
  position: relative;
}
/*
.quizzEscolhido span {
  position: absolute;
  z-index: 2;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 39px;
  top: 0;
  left: 0;
}
*/


