body {
  background-color: #fafafa;
}

/* topo da página */
.containerTopo {
  background-color: #ec362d;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 37px;
  font-weight: bold;
  height: 69px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* criar quizz */

.criarQuizz {
  border: 1px #d4d4d4 dashed;
  border-radius: 5px;
  margin: 77px auto;
  margin-top: 146px;
  width: 80%;
  height: 181px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.criarQuizz p {
  font-family: "Roboto", sans-serif;
}

.criarQuizz p:first-child {
  color: #b9b9b9;
  font-size: 20px;
  width: 250px;
  text-align: center;
}

.criarQuizz input {
  background-color: #fafafa;
  border: 1px #ec362d dashed;
  border-radius: 50px;
  color: #ec362d;
  font-size: 21px;
  height: 40px;
  width: 151px;
}

.criarQuizz input:focus {
  outline-style: none;
}

/* quizz adicionados */
.quizzesAdicionados {
  width: 80%;
  margin: 48px auto;
  margin-top: 117px;
}

.quizzesAdicionados > span {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #000;
  margin-bottom: 16px;
}

.quizzesAdicionados span ion-icon {
  font-size: 32px;
  color: #ec362d;
  margin-left: 17px;
}

/* lista de quizzes */

.todosQuizzes h1 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.todosQuizzes {
  width: 80%;
  margin: auto;
}

.triosDeQuizzes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 12px;
}

.quizz {
  width: 340px;
  height: 181px;
  position: relative;
  margin-bottom: 12px;
  background-color: black;
  border-radius: 5px;
}

.quizz img {
  width: 340px;
  height: 181px;
  border-radius: 5px;
  -webkit-mask-image: linear-gradient(to top, transparent 10%, black 65%);
}

.descricaoDoQuizz {
  width: 300px;
  position: absolute;
  z-index: 2;
  bottom: 10px;
  left: 18px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 19px;
}

/* Quizz Escolhido*/

.quizzEscolhido {
  width: 100%;
  margin-top: 69px;
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.escondido {
  display: none;
}

.fotoDeFundo {
  width: 100%;
  height: 227px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fotoDeFundo img {
  width: 100%;
  height: 227px;
  position: relative;
}

.fotoDeFundo span {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 39px;
  position: absolute;
}

.conteinerDePerguntas {
  width: 759px;
  height: 676px;
  margin-top: 42px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #ffffff;
}

.conteinerDePerguntas ul li {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  width: 330px;
  margin-left: 25px;
}
.conteinerDePerguntas ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.pergunta {
  width: 688px;
  height: 138px;
  background: chartreuse;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 25px;
  margin-top: 28px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 23px;
}

.opcaoDeImg img {
  width: 329px;
  height: 175px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.conteirerResultado {
  width: 759px;
  height: 430px;
  margin-top: 42px;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.conteirerResultado ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.conteirerResultado ul li {
  display: flex;
  flex-direction: column;
  width: 330px;
  margin-left: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  color: #484848;
}

.porcentagemDeAcerto {
  width: 727px;
  height: 99px;
  margin-top: 18px;
  background: #ec362d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 23px;
}

.botaoReiniciar {
  width: 260px;
  height: 52px;
  background: #ec362d;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  border: none;
  font-size: 21px;
}

.botaoVoltarHome {
  border: none;
  background: inherit;
  color: #818181;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
}

/* tela de criar quizz */
.criandoUmQuizz,
.criarPerguntas,
.quizzNiveis,
.quizzPronto {
  margin: 140px auto;
  width: 45%;
  text-align: center;
}

.criandoUmQuizz p,
.criarPerguntas > p,
.quizzNiveis > p,
.quizzPronto span {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 23px;
  color: #000;
  text-align: center;
  margin-bottom: 27px;
}

.caixaDePerguntas {
  background-color: #ffffff;
  height: 256px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.caixaDeCriarPerguntas,
.caixaDeNiveis {
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-bottom: 24px;
}

.caixaDePerguntas input,
.caixaDeCriarPerguntas input,
.caixaDeNiveis input {
  width: 90%;
  height: 46px;
  border: 1px #bababa solid;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-style: italic;
  color: #bababa;
}

.caixaDePerguntas input:focus,
.caixaDeNiveis input:focus,
.quizzNiveis > input:focus,
.caixaDeCriarPerguntas input:focus,
.criarPerguntas > input:focus,
.criandoUmQuizz > input {
  outline-style: none;
}

.criandoUmQuizz > input,
.criarPerguntas > input,
.quizzNiveis > input {
  margin-top: 85px;
  width: 368, 86px;
  height: 54px;
  background-color: #ec362d;
  border: none;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #fff5f4;
  font-size: 21px;
}

.perguntaCriada,
.caixaDeCriarPerguntas > p,
.nivelCriado {
  margin: auto;
  padding: 24px 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.perguntaCriada ion-icon,
.nivelCriado ion-icon {
  font-size: 24px;
  --ionicon-stroke-width: 32px;
  color: #000;
}

.caixaDeCriarPerguntas input,
.caixaDeNiveis input {
  margin-bottom: 14px;
}

.caixaDeCriarPerguntas input:nth-child(9),
.caixaDeCriarPerguntas input:nth-child(11) {
  margin-bottom: 32px;
}

.quizzPronto img {
  width: 500px;
  height: 266px;
  border-radius: 5px;
  -webkit-mask-image: linear-gradient(to top, transparent 10%, black 65%);

}

.imagemQuizzPronto p {
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  color: #fff;
  width: 300px;
  position: absolute;
  z-index: 2;
  bottom: 54px;
  left: 18px;
}
.imagemQuizzPronto div{
  width: 500px;
  height: 266px;
  background-color: black;
  border-radius: 5px;
}

.imagemQuizzPronto {
  margin: 46px auto;
  position: relative;
}

.botoesQuizzPronto input {
  width: 368, 86px;
  height: 54px;
  background-color: #ec362d;
  border: none;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #fff5f4;
  font-size: 21px;
}

.botoesQuizzPronto p {
  margin-top: 9px;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  color: #818181;
}

/* versão mobile */

@media (max-width: 1100px) {
  .todosQuizzes {
    margin: auto;
  }

  .criarQuizz {
    margin: 35px auto;
  }

  .criarQuizz {
    margin: 35px auto;
    margin-top: 104px;
  }

  .quizzesAdicionados {
    margin: 38px auto;
    margin-top: 107px;
  }

  .criandoUmQuizz {
    margin: 106px auto;
    width: 100%;
  }

  .criandoUmQuizz p {
    font-size: 20px;
    margin-bottom: 29px;
  }

  .criandoUmQuizz > input {
    margin-top: 29px;
    width: 324px;
    font-size: 18px;
  }
}
